* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  color: #333333;
}

button {
  font-family: 'Mulish', sans-serif;
}

path, i, svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d4d4d4;
}

.color {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0%;
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
  width: 80%;
  border-radius: 10px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: white;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sliders.active {
  opacity: 1;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  pointer-events: all;
}

.sliders button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 2px;
  border: none;
  background: #d6d6d6;
  color: #5f5e5e;
  cursor: pointer;
  font-weight: bold;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 20vh;
}

.panel button {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: #1f213f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel, .generate-panel, .save-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adjust, .lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 2rem 0rem;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}

input[type="range"] ::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  border: none;
}

.copy-container, .save-container, .library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.copy-popup, .save-popup {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}

.close-save, .close-library {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 6px;
  border: none;
  background: #d6d6d6;
  color: #5f5e5e;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}

.submit-save {
  margin: 2rem;
  padding: 1rem 3rem;
  background: #3c3c5c;
  color: white;
  border-radius: 20px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.copy-popup h4, .save-popup h4, .library-popup h4 {
  font-size: 3rem;
  padding: 2rem;
}

.copy-container.active, .save-container.active, .library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active, .save-popup.active, .library-popup.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.generate {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.generate:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.save {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.save:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.library {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.library:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.adjust:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.lock:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.color h2:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.library-popup {
  min-width: 60%;
  max-height: 50vh;
  padding: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
  border-radius: 2rem 0rem 0rem 2rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  min-height: 30vh;
}

.custom-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}

.small-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.custom-palette h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.small-preview div {
  height: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pick-palette-btn {
  height: 3rem;
  border: none;
  padding: 0.5rem;
  margin-left: 3rem;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 600px) {
  .colors {
    height: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.delete-palette {
  padding: 0.5rem;
  background-color: indianred !important;
  min-width: 4rem !important;
}

.delete-palette:hover {
  color: indianred !important;
  background-color: #333 !important;
}
/*# sourceMappingURL=styles.css.map */